/* src/App.module.css */

.App {
  text-align: center;
  margin-top: 2rem;
}

.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.todoInput {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 400px;
  margin-right: 1rem;
}

.addButton {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.footer {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.todoList {
  list-style: none;
  padding: 0;
  margin-left: 30%;
  margin-right: 30%;
}

.todoItem {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: left;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 25px;
}
